
/* Styles voor werkboek MCO */

body{font-family:verdana,arial;font-size:10pt;color:#000;background-color:#eee;}
h1{font-family:verdana,arial;font-size:15pt;color:#0072C5;}
h2{font-family:verdana,arial;font-size:10pt;}
p{font-family:verdana,arial;font-size:9pt;line-height:12pt;}
.small{font-family:verdana,arial;font-size:8pt;}

.nav{background-color:#ddd;width:200px;}
.vragen{background-color:#fff;width:925px;padding:8px;}
.antwoorden{background-color:#fff;width:925px;padding:8px;}

.center{text-align:center;}
.show{padding:10px;background-color:#eee;font-size:9pt;line-height:12pt;}

a.inlink{color:#000;text-decoration:underline;}
a{color:#fff;text-decoration:none;}
a.antwoord{color:#0072C5;text-decoration:underline;}

.hint a{font-family:verdana,arial;font-size:9pt;line-height:15pt;color:#000;text-decoration:underline;}

.button{border:1px solid #0072C5;margin-bottom:5px;width:170px;display:block;
text-decoration:none;padding:8px;background-color:#0072C5;text-align:left;color:#fff;font-size:10pt;}
.button2{float:left;margin-bottom:3px;margin-right:3px;width:37px;display:block;
text-decoration:none;padding:3px;background-color:#9E4C7C;color:#fff;text-align:center;font-size:10pt;}
.button3{float:left;margin-bottom:3px;margin-right:3px;width:37px;display:block;
text-decoration:none;padding:3px;background-color:#b2a449;color:#fff;text-align:center;font-size:10pt;}