.questionButton {
        width: 400px;
        background-color: #3498db;
        color: #fff;
        font-weight: bold;
        padding: 3px;
        text-align: center;
      }

      .questionButton:hover {
        text-decoration: underline;
        background-color: #64BEFA;
      }

      .questionButton:active {
        text-decoration: underline;
        background-color: #3498db;
      }

      .answer-textarea {
        width: 400px;
        font-family:verdana,arial;
        font-size:9pt;
        line-height:12pt;
      }

      .answer {
        width: 390px;
        color: #fff;
        padding: 5px;
        margin-top: 5px;
      }

      .right {
        background-color: #2ecc71;
        display: none;
      }

      .wrong {
        background-color: #e74c3c;
        display: none;
      }
      .questionID {
        display: none;
      }